@font-face {
  font-family: 'StarWars';
  src: url('/fonts/Starjedi.ttf') format('truetype');
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

body {
  font-family: 'StarWars', sans-serif;
  background: url('/images/star-wars-backgrounds-14_856985d9.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 60px;
  color: #000000; /* Adjust text color for better contrast */
}

.header {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

/* Custom styles for buttons and forms with a Star Wars theme */
.btn, .btn-link.nav-link, .form-control, .form-check-input {
  border: 1px solid #258cfb;
  background-color: transparent; /* Ensure buttons have a consistent look */
  color: #fff; /* Adjust text color for better contrast */
  font-family: 'StarWars', sans-serif;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  outline: none; /* Remove default outline for a custom look */
}

/* Add some additional styling for elements to match the Star Wars theme */
h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

a {
  color: #f0f0f0; /* Adjust link color */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  color: #d0d0d0; /* Slightly lighter color on hover */
  text-decoration: underline; /* Add underline on hover */
}

.card {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for cards */
  border: 1px solid #258cfb;
}

.table {
  color: #fff; /* Table text color */
  border-color: #258cfb; /* Table border color */
}

.table th, .table td {
  border-color: #258cfb;
}

/* Customize form controls */
.form-control, .form-check-input {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for form controls */
  border-color: #258cfb;
  color: #fff;
}

.form-control::placeholder {
  color: #aaa; /* Placeholder text color */
}
