@model IEnumerable<StarWarsDataAnalyzerWeb.ViewModels.PlanetViewModel>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var planet in Model)
            {
                <tr>
                    <td>@planet.Name</td>
                    <td>@planet.Climate</td>
                    <td>@planet.Terrain</td>
                    <td>@planet.Population</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No data available</td>
            </tr>
        }
    </tbody>
</table>
